/**
 * by wlsy http://wlsy.me
 */
body {
  background-color: #EDEBE8;
  font-size: 14px;
  line-height: 1.8;
  padding: 30px 0 20px 0;
}
h1,h2,h3 {
  font-family: 'Microsoft YaHei';
  font-weight: normal;
  margin-bottom:15px;
}
hr {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #CDCDCC;
}
blockquote {
  border-left: 5px solid #CDCDCC;
}
p {
  margin: 0 0 15px;
}
